extends ./layout/layout.jade

block content
  .row
    .col-md-6
      h1 Add Beer
      p Give back to the beer cooler, now!
      form#add(action='ajax')
        fieldset.form-group
          label(for='name') Name
          input.form-control(name='name')
        fieldset.form-group
          label(for='likes') Likes
          input(type='range', name='likes', min=1, max=100, value=1).form-control
        button(type='submit').btn.btn-success-outline Add Beer 
          .fa.fa-beer

  script#beerTemplate(type='text/template')
    .card-block
      h3.card-title <%= name %>
      p.card-test ID <%= id %>
      p.card-text Likes <%= likes %>
      button.btn.btn-primary-outline
        .fa.fa-beer
        |  Like
        .fa.fa-beer.fa-flip-horizontal
      button.btn.btn-danger-outline
        .fa.fa-ban
        |  Delete
        .fa.fa-trash-o
