extends ./layout/layout.jade

block content
  .row
    .col-md-12
      h1 Facebook Leadgen Forms
    each form in forms
      .col-sm-4
        .card
          .card-block
            .card-title
              h3=form.name
          ul.list-group.list-group-flush
            li.list-group-item
              a(href='/fb/' + form.id + '/leads') Browse Leads 
            li.list-group-item
              a(href=form.leadgen_export_csv_url) Download CSV
            //- li.list-group-item
            //-   a(href='/import/' + form.id) Import Data
            li.list-group-item
              a(href='/fb/' + form.id) Load Lead Data
    .col-md-12
      pre=JSON.stringify( forms, null, 2 )
