extends ./layout/layout.jade

block content
  .row
    .col-md-12
      h1 Facebook Leadgen Forms
      pre=JSON.stringify( forms, null, 2 )
    each form in forms
      .col-sm-4
        .card
          .card-block
            .card-title
              h3=form.name
          ul.list-group.list-group-flush
            li.list-group-item
              a(href='/facebook/' + form.id + '/leads') Browse Leads 
            li.list-group-item
              a(href=form.leadgen_export_csv_url) Download CSV
            li.list-group-item
              a(href='/import/' + form.id) Import Data
