extends ./layout/layout.jade

block content
  .container
    .row
      .col-md-9
        h1 Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        button.btn.btn-secondary-outline.btn-lg Become a Trainer
        p Questions? (800) 555-5555
  hr.m-b-lg.m-t-lg
  .container
    .row
      .col-md-12
        h2.text-center Why Choose AFAA
        h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
      .col-sm-6
        ul
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
      .col-sm-6
        ul
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
      .col-md-12
        p.text-center Lorem ipsum dolor sit amet 
          button.btn.btn-secondary-outline.m-l Become A Trainer
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12
      h2.text-center What Our Trainers Say
      h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-sm-6
      img.circle.pull-left.m-r(src='http://placehold.it/100x100')
      .clearfix.show-sm
      h5 Matty Muscles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-sm-6
      img.circle.pull-left.m-r(src='http://placehold.it/100x100')
      .clearfix.show-sm
      h5 Matty Muscles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12
      h2.text-center Lorem ipsum dolor
      h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-md-4.col-sm-6
      img(src='http://placehold.it/350x200')
      h6.text-center.text-uppercase Become A Personal Trainer
      p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-md-4.col-sm-6
      img(src='http://placehold.it/350x200')
      h6.text-center.text-uppercase Continuing Education
      p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-md-4.hidden-sm-down
      img(src='http://placehold.it/350x200')
      h6.text-center.text-uppercase Renew Your Certification
      p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12
      h2.text-center Lorem ipsum dolor
      h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-md-6
      input.form-control
      input.form-control
      button.btn.btn-secondary-outline Subscribe
    .col-md-6.hidden-sm-down
      textarea.form-control
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12
      h3.pull-left Lorem Ipsum Dolor Sit Amet
      button.btn.btn-lg.btn-secondary-outline.pull-right Click Me!
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12.m-b
      p.text-center This is the footer
    .col-md-3
      h6 Lorem Ipsum
      ul
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
    .col-md-3
      h6 Lorem Ipsum
      ul
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
    .col-md-3
      h6 Lorem Ipsum
      ul
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
        li Lorem Ipsum Dolor
    .col-md-3
      p Image thingy
    .col-md-12
      p.text-center.colophon &copy; 2014 Aerobics and Fitness Association of America | 12345 E. Novelty Lane, Somewhere, CA 92886 | 
        a(href='#') Privacy Policy
        |  
        a(href='#') Terms of Use
