extends ./layout/layout.jade

block content
  .row
    .col-md-12
      h1 MSSQL
      //- pre=JSON.stringify( rows, null, 2 )
      each row in rows
        //- pre=JSON.stringify( row, null, 2 )
        each thing in row
          hr
          pre=JSON.stringify( thing, null, 2 )
      //- include:markdown-it ../readme.md
