extends ./layout/layout.jade

block content
  .container
    .row
      .col-lg-9.text-center-sm
        h1 Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .row
          .col-sm-6
            button.btn.btn-secondary-outline.btn-lg.btn-block Become a Trainer
            p.hidden-sm-down.text-center.p-t Questions? (800) 555-5555
            .row
              .col-xs-8.col-xs-push-2
                button.hidden-sm-up.btn.btn-secondary-outline.btn-block.m-t 
                  i.fa.fa-phone
                  |  (800) 555-5555
  hr.m-b-lg.m-t-lg
  .container
    .row
      .col-md-12.m-bb
        h2.text-center Why Choose AFAA
        h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
      .col-sm-12.col-md-6
        ul.no-bull.p-l-0
          li.text-center
            img.hidden-sm-down.m-r(src='http://placehold.it/60x60')
            img.hidden-md-up.center-block(src='http://placehold.it/60x60')
            | Lorem ipsum dolor sit amet
          li.text-center
            img.hidden-sm-down.m-r(src='http://placehold.it/60x60')
            img.hidden-md-up.center-block(src='http://placehold.it/60x60')
            | Lorem ipsum dolor sit amet
          li.text-center
            img.hidden-sm-down.m-r(src='http://placehold.it/60x60')
            img.hidden-md-up.center-block(src='http://placehold.it/60x60')
            | Lorem ipsum dolor sit amet
          li.text-center
            img.hidden-sm-down.m-r(src='http://placehold.it/60x60')
            img.hidden-md-up.center-block(src='http://placehold.it/60x60')
            | Lorem ipsum dolor sit amet
      .col-md-6.hidden-sm-down
        ul.no-bull
          li
            img.m-r(src='http://placehold.it/60x60') 
            | Lorem ipsum dolor sit amet
          li
            img.m-r(src='http://placehold.it/60x60') 
            | Lorem ipsum dolor sit amet
          li
            img.m-r(src='http://placehold.it/60x60') 
            | Lorem ipsum dolor sit amet
          li
            img.m-r(src='http://placehold.it/60x60') 
            | Lorem ipsum dolor sit amet
      .col-sm-12
        p.text-center Lorem ipsum dolor sit amet 
          button.btn.btn-secondary-outline.btn-lg.m-l Become A Trainer
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12.m-b-lg
      h2.text-center What Our Trainers Say
      h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-sm-6.trainer-testimonial
      img.circle(src='http://placehold.it/120x120')
      .clearfix.hidden-lg-up
      h5 Matty Muscles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-sm-6.trainer-testimonial
      img.circle(src='http://placehold.it/120x120')
      .clearfix.hidden-lg-up
      h5 Matty Muscles
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12.m-b
      h2.text-center Lorem ipsum dolor
      h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-lg-4.col-sm-6
      img(src='http://placehold.it/350x200')
      h6.text-center.text-uppercase Become A Personal Trainer
      p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-lg-4.col-sm-6
      img(src='http://placehold.it/350x200')
      h6.text-center.text-uppercase Continuing Education
      p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .col-lg-4.hidden-md-down
      img(src='http://placehold.it/350x200')
      h6.text-center.text-uppercase Renew Your Certification
      p.text-center Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12.m-b-lg
      h2.text-center Lorem ipsum dolor
      h5.text-center Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do
    .col-lg-6
      .form-group.row
        .col-sm-6
          input.form-control(placeholder='First Name')
        .col-sm-6
          input.form-control(placeholder='Last Name')
      .form-group.row
        .col-sm-6
          input.form-control(placeholder='Email')
        .col-sm-6
          input.form-control(placeholder='Phone')
      .row
        .col-sm-10.col-sm-push-1
          button.btn.btn-secondary-outline.btn-block Subscribe
    .col-lg-6.hidden-md-down
      //- textarea.form-control(rows=6, placeholder='Comments')
      img(src='http://placehold.it/540x180').m-t-0
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12
      h3.pull-left Lorem Ipsum Dolor Sit Amet
      button.btn.btn-lg.btn-secondary-outline.pull-right Click Me!
  hr.m-b-lg.m-t-lg
  .container
    .col-md-12.m-b
      p.text-center.text-lg
        a(href='#')
          i.fa.fa-twitter-square
        | &nbsp;
        a(href='#')
          i.fa.fa-google-plus-square
        | &nbsp;
        a(href='#')
          i.fa.fa-facebook-square
        | &nbsp;
        a(href='#')
          i.fa.fa-youtube-square
        | &nbsp;
        a(href='#')
          i.fa.fa-pinterest-square
        | &nbsp;
        a(href='#')
          i.fa.fa-github-square
        | &nbsp;
        a(href='#')
          i.fa.fa-tumblr-square
    .col-md-3
      h6 Lorem Ipsum
      ul.no-bull.p-l
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
    .col-md-3
      h6 Lorem Ipsum
      ul.no-bull.p-l
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
    .col-md-3
      h6 Lorem Ipsum
      ul.no-bull.p-l
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
        li 
          a(href='#') Lorem Ipsum Dolor
    .col-md-3
      img(src='http://placehold.it/300x200')
    .col-md-12
      p.text-center.colophon &copy; 2014 Aerobics and Fitness Association of America | 12345 E. Novelty Lane, Somewhere, CA 92886 | 
        a(href='#') Privacy Policy
        | &nbsp;&nbsp;
        a(href='#') Terms of Use
