extends ./layout/layout.jade

block content
  .row
    .col-md-12
      h1 Welcome to Raspi GPIO
      button.btn.btn-primary#btn1 1
      button.btn.btn-primary#btn2 2
      button.btn.btn-primary#btn3 3
      button.btn.btn-primary#btn4 4
      button.btn.btn-primary#btn5 5
      button.btn.btn-primary#btn6 6
